/building_cross_exe/
/h2a-GUI-Linux
/h2a_GUI-Windows.exe
/__pycache__/
/Bup_OoO
*/**/Bup_OoO
h2aFreeplane-V1
/h2a-logfile.txt
/test pdfs with bugs/
test*.pdf
/Bup_pdfs/
/pdfExtract - steps on the way to h2a/
/test pdfs/
/test-pdfs/
